<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neyo.contact_list">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Select Category"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contact_List">
        <activity android:name=".RegistrationActivity">

        </activity>

        <activity
            android:name=".FriendsActivity"
            android:label="Friends" />
        <activity
            android:name=".ColleaguesActivity"
            android:label="Colleagues" />
        <activity
            android:name=".TutorsActivity"
            android:label="Tutors" />
        <activity
            android:name=".FamilyActivity"
            android:label="Family" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CardViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>